@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    font-size: 6.5vw;
}
h3{
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 700;
}
h4{
    font-size: 1.1rem;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    word-spacing: 0.4vw;
}
h6{
    font-size: 0.9rem;
    font-weight: 700;
    color: #6CAA7F;
}
p{
    font-size: 1rem;
    font-family: 'karla', sans-serif;
    line-height: 1.5rem;
}
button{
    background: #6CAA7F;
    border-style: none;
    padding: 0.7rem 1.3rem;
    font-size: 8.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    
}

hr{
    background: #27ae60;
    color: #27ae60;
    height: 0.1rem;

}

body{
    font-smooth: 'Karla', sans-serif;
}

header .intro {
    position: relative;
}

header .intro .head{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .intro .head h1{
    font-family: "Leckerli One", cursive;
    color: 000;
}

header .navbar .navbar-nav .nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #27ae60;
    transition: width 0.3s;
}

header .navbar .navbar-nav .nav-link:hover::after{
    width: 60%;
    height: 2px;
    background: #27ae60;
    transition: width 0.3s;
    border-bottom: 2px solid #27ae60;
}

header .navbar .navbar-nav i{
    font-size: 1.2rem;
    color: #27ae60;
    cursor: pointer;
}

.featured .row .one{
    height: 300px;
    position: relative;
}

.featured .row .one img{
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
}

.featured .row .one .text{
    background: rgb(0, 0,0,0.5);
    width: 100%;
    height: 100%;
    position:absolute;
    bottom: 0;

    
}

.featured .row .one .text p{
    letter-spacing: 0.2rem;
    line-height: 2px;
}

.featured .row .one .text a{
    text-decoration: none;
    border-style:none ;
    color: white;
    font-size: 0.9rem;

}

.featured .row .one .text a::after{
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    background: #27ae60;

}

.blog .row .post a{
    font-size: 0.9rem;
    color: #27ae60;
    font-weight: bold;
    text-decoration: none;
    border-style: none;
}

.sidetext h5{
    font-size: 1rem;
}


.sidetext a{
    text-decoration: none;
    border-style:none ;
    color: #27ae60;
    font-size: 0.9rem;

}

.blog .side3 .one{
    height: 300px;
    position: relative;
}

.blog .side3 .one img{
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
    
}



.blog .side3 .one .text{
    background: rgb(0, 0,0,0.5);
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    padding: 10rem 1.1rem 0 1.1rem;

}

